{% include "header.html" %}
    <h1 class="text-center p-5">{{ article.title_ru }}</h1>
    <div class="container pb-3">
        {% for item in article.content_ru.split() %}
            {% if item.startswith('!image') %}
                <hr>
                <div class="text-center">
                    <img class='article-image' src="{{ item.split('!image')[1] }}" alt="">
                </div>
                <hr>
            {% elif item.startswith('!b') %}
                <b style="color: #554f42;">{{ item.split('!b')[1] }}</b>
            {% elif item.startswith('!tab') %}
                <hr>
            {% else %}
                {{ item }}
            {% endif %}
            
        {% endfor %}
    </div>
{% include "footer.html" %}
