  <!-- Footer -->
  <footer class="footer py-3">
    <div class="container text-center">
      <span class="text-footer">© 2021 wayd.k blog</span>
      <a href="https://github.com/waydk"><i class="footer-icon fab fa-github fs-2"></i></a>
      <a href="https://instagram.com/wayd.vrn"><i class="footer-icon fab fa-instagram fs-2"></i></a>
      <a href="https://t.me/waydk"><i class="footer-icon fab fa-telegram fs-2"></i></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/fc06632d11.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='live2d-widget/autoload.js') }}"></script>

  </footer>

</body>
</html>