{% include "header.html" %}

<!-- About me section -->
<section id='about-me'>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img id='img-about' class="about-img lng-img-about-m" src="static/img/about-image-ru.png" alt="">
            </div>
            <div class="col">
                <h1 class="lng-about-title text-center">Обо мне</h1>
                <p class="lng-about-text">Меня зовут Кирилл, но мне будет приятнее, если вы будете называть меня Кирой, считаю, что так удобнее и "Кирилл" мне не особо заходит. Я увлекаюсь программированием и хотел бы чтобы это увлечение стало в последующем моей профессией. В свободное время я смотрю аниме, читаю книги и залипаю в инсте. Я обожаю есть, обожаю спать.</p>
            </div>
        </div>
    </div>
</section>


<!-- Last article section -->
<section id='last-articles'>
    <h1 class="text-center pb-2 lng-last_articles">Последние статьи</h2>

        <div class="container pt-4">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for article in articles %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">

                            <h5 class="card-title">{{ article.title_ru }}</h5>

                            <p class="card-text">{{ article.content_ru[:50] }}...</p>
                            <a href="{{ url_for('show_article', title=article.title_en) }}" class="btn btn-card lng-read-more">Читать больше</a>
                        </div>
                        <div class="card-footer text-muted">
                            {{ article.date.strftime("%Y.%m.%d") }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</section>

<h1 class="text-center lng-last_articles">Просмотр аниме</h2>

    <!-- Just an anime player -->

    <!-- <div class="form__group field">
        <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
        <label for="name" class="form__label">Название аниме</label>
    </div> -->

    <form method="post">
        <div class="form__group field">
            <input type="input" class="form__field"  name='anime-title' required />
            <label for="anime-title" class="form__label">Название аниме</label>
            <button type="submit" class="btn btn-outline-secondary">Найти</button>
        </div>
    </form>

    {% if kinopoisk_id == None %}
        <h4 class="p-4">Тут будет плеер</h4>
        <img id='animeplayer' src="https://i.gifer.com/uQ8.gif" alt="">
    {% else %}
        <div id='animeplayer' class="container animeplayer">
            <video data-bg="#726d5f" data-resize="1" id="yohoho" data-kinopoisk="{{kinopoisk_id}}" controls>
        <source type="video/emp4">
        </video>
        </div>
    {% endif %}


    {% include "footer.html" %}