{% include "header.html" %}

  <!-- About me section -->
  <section id='about-me'>
    <div class="container">
      <div class="row">
          <div class="col text-center">
            <img class="about-img" src="static/img/about-image.png" alt="">
          </div>
          <div class="col">
            <h1 class="text-center">About me</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in</p>
          </div>
      </div>
    </div>
  </section>

  <!-- Last article section -->
  <section id='last-articles'>
    <h1 class="text-center pb-2">Last Articles</h2>

      <div class="container pt-4">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          {% for article in articles %}
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{article.title}}</h5>
                  <p class="card-text">{{article.content[:50]}}...</p>
                  <a href="{{ url_for('show_article', title=article.title) }}" class="btn btn-card">Read more</a>
                </div>
                <div class="card-footer text-muted">
                  {{article.date.strftime("%Y.%m.%d")}}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
  </section>

{% include "footer.html" %}
