body {
    background-color: #9A9483;
    font-family: 'Raleway', sans-serif;
    color: #E5DCC3;
}

h1 {
    color: white;
}


/* Navbar */

.navbar .navbar-nav .nav-link {
    color: white;
    font-size: 15px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #E5DCC3;
}

.navbar .navbar-brand {
    color: white;
    font-size: 30px;
}

.navbar .navbar-brand:hover {
    color: #E5DCC3;
}


/* About me */

#about-me {
    padding: 12% 10% 11% 10%;
    font-size: 25px;
}

.about-img {
    padding-bottom: 20px;
}

@media (max-width: 765px) {
    .about-img {
        width: 370px;
        height: 300px;
    }
    #about-me {
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .about-img {
        width: 270px;
        height: 200px;
    }
}


/* Last articles */

#last-articles {
    padding-bottom: 80px;
}

.card {
    height: 200px;
    color: #9A9483;
}

.btn-card {
    color: #E5DCC3;
    background-color: #9A9483;
}

.btn-card:hover {
    color: white;
}


/* Article page */

.article-image {
    width: 70%;
    border-radius: 7px;
}

@media (max-width: 700px) {
    .article-image {
        width: 100%;
    }
}

hr {
    clear: both;
    visibility: hidden;
}


/* Footer */

.text-footer {
    color: #d3d3d3;
}

.footer-icon {
    text-align: center;
    color: #726d5f;
    padding-left: 20px;
}

.footer-icon:hover {
    color: #5c574a;
}

.footer {
    margin-top: 100px;
}


/* All articles */

.all_articles {
    padding-bottom: 30px;
}

.all_articles .card {
    background-color: #9A9483;
    color: white;
}


/* Contact */

.success-btn {
    background-color: #646054;
    color: #d3d3d3;
}

.success-btn:hover {
    background-color: #8b877a;
    color: #d3d3d3;
}


/* Video */

.animeplayer {
    margin-top: 50px;
    max-width: 700px;
}

iframe {
    border-radius: 20px;
}

@media (max-width: 700px) {
    .animeplayer {
        max-width: 350px;
    }
}